<div class="container-fluid main-container">
  <div class="character-container">
    <div class="characters-list">
      <div class="row characters-list-header">
        <div class="col-md-12">
          <h1 class="characters-list-header-title">Character</h1>
        </div>
        <div class="col-md-3">
          <input class="form-control search-input" placeholder="Characters" [formControl]="queryField" />
        </div>
        <div class="col-md-1 characters-list-header-search">
          <img src="assets/filter.svg" alt="filtro">
            <a class="orderBy" (click)="orderByName()"> A-Z <i [className]="order ? 'fa fa-angle-down' : 'fa fa-angle-up'" aria-hidden="true"></i></a>
        </div>
      </div>

      <ul class="row">
        <li class="col-md-3" *ngFor="let character of characters">
          <div class="card text-center character">
            <div class="card-body">
              <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" alt="character image">
              <p class="character-title"> {{character.name}} </p>
              <p class="character-subtitle"> {{character.name}} </p>
              <hr class="line" />
            </div>
            <div class="character-description">
              <p *ngIf="character.description"> {{character.description}}</p>
              <p *ngIf="!character.description"> Personagem sem descrição... </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div style="padding: 30px;">
      <p>3 de 35</p>
    </div>
  </div>
</div>
