@import '~bootstrap/scss/bootstrap';
@import './scss/index.scss';


html, body {
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-size: $fontDefault;
  font-weight: 300;
  background-color: $background;
  color: $grey-primary;
}


.page-item.active .page-link {
  background-color: $red-primary;
  border-color: $red-primary;
}

.page-link {
  color: $red-primary;
}
