$fontFamily:  'Roboto', sans-serif;

$red-primary: #ed1d24;
$grey-primary: #4a4a4a;
$grey-light: #edeef0;
$grey-dark: #e6e7e8;
$background: #f4f8fb;

$fontLG: 1.6rem;
$fontMD: 1.4rem;
$fontSM: 1.2rem;
$fontDefault: 1rem;

$tablet: 768px;
$desktop: 1024px;
